1. mb 지진 규모 유형으로 사용해 일본 진도의 96번째 백분위수를 찾는다.

In [1]:
import pandas as pd

df = pd.read_csv(
    'data/earthquakes.csv', 
    usecols=['time', 'title', 'place', 'magType', 'mag', 'alert', 'tsunami']
)

In [5]:
df[df.magType == 'mb'].describe(percentiles=[0.05, 0.95])

              mag          time     tsunami
count  601.000000  6.010000e+02  601.000000
mean     4.563894  1.538215e+12    0.044925
std      0.354134  6.009393e+08    0.207312
min      3.600000  1.537231e+12    0.000000
5%       4.100000  1.537319e+12    0.000000
50%      4.500000  1.538149e+12    0.000000
95%      5.200000  1.539256e+12    0.000000
max      6.100000  1.539473e+12    1.000000

2. 인도네시아에서 쓰나미가 동반된 지진의 백분율을 구한다

In [15]:
df[(df['tsunami']==1) & (df['place'].str.contains('ndone'))].describe()

             mag          time  tsunami
count  34.000000  3.400000e+01     34.0
mean    5.388235  1.538272e+12      1.0
std     0.498339  2.449961e+08      0.0
min     5.000000  1.537954e+12      1.0
25%     5.100000  1.538130e+12      1.0
50%     5.200000  1.538143e+12      1.0
75%     5.675000  1.538437e+12      1.0
max     7.500000  1.539033e+12      1.0

In [13]:
df[df.place.str.contains('ndone')]

,alert,mag,magType,place,time,title,tsunami
9,NaN,4.7,mb,"219km SSE of Saparua, Indonesia",1539472814760,"M 4.7 - 219km SSE of Saparua, Indonesia",0
13,NaN,4.5,mb,"120km SSW of Banda Aceh, Indonesia",1539470898340,"M 4.5 - 120km SSW of Banda Aceh, Indonesia",0
180,green,5.2,mww,"25km E of Bitung, Indonesia",1539405255580,"M 5.2 - 25km E of Bitung, Indonesia",0
421,NaN,4.7,mb,"38km SSW of Nggongi Satu, Indonesia",1539331098920,"M 4.7 - 38km SSW of Nggongi Satu, Indonesia",0
660,NaN,4.4,mb,"51km WSW of Kasiguncu, Indonesia",1539258833830,"M 4.4 - 51km WSW of Kasiguncu, Indonesia",0
...,...,...,...,...,...,...,...
9041,NaN,4.3,mb,"7km WSW of Karangsubagan, Indonesia",1537296305750,"M 4.3 - 7km WSW of Karangsubagan, Indonesia",0
9075,NaN,4.4,mb,"103km W of Kuripan, Indonesia",1537288723310,"M 4.4 - 103km W of Kuripan, Indonesia",0
9108,NaN,4.0,mb,"123km NE of Bitung, Indonesia",1537280181100,"M 4.0 - 123km NE of Bitung, Indonesia",0
9209,NaN,4.7,mb,"18km NE of Reuleuet, Indonesia",1537256021950,"M 4.7 - 18km NE of Reuleuet, Indonesia",0
9212,NaN,4.7,mb,"2km ESE of Lokokrangan, Indonesia",1537255636260,"M 4.7 - 2km ESE of Lokokrangan, Indonesia",0